<html>
    <head>
        <title>Arcade Quiz</title>
        <link rel="icon" href="/img/img1.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="../../public/js/app.js"></script>
    </head>
    <body>
        <div>
            {{>header}}
        </div>

        <section id="candidate-result" class="py-5">
            <div class="container">
                <h2 class="text-center mb-4">Your Result</h2>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{percentage}}%;" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100">{{percentage}}%</div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <section class="bg-light py-5">
                    <div class="container">
                        <h2 class="text-center mb-4">Leaderboard</h2>
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Name</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each score_data}}
                                        <tr>
                                            <td>{{addOne @index}}</td>
                                            <td>{{this.name}}</td>
                                            <td>{{this.score}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-5">
                <section id="answers" class="bg-light py-5">
                    <div class="container">
                        <h2 class="text-center mb-4">Correct Answers and Your Responses</h2>
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>Correct Answer</th>
                                        <th>Difficulty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each jsonData}}
                                        <tr>
                                            <td>Question {{addOne @index}}</td>
                                            <td>{{this.correctAns}}</td>
                                            <td>{{this.level}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-1"></div>
        </div>

        <div>
            {{>footer}}
        </div>
    </body>
</html>